<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.chornij.finances">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <service
            android:name=".MyService.MyService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <receiver
            android:name=".MyService.MyProvider">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata">
            </meta-data>
        </receiver>
        
    </application>

</manifest>
